table.listaIncidencias {
    width: 89%;
    background-color: #F0F0F0;
    border-collapse: collapse;
    border-width: 2px;
    border-color: #24943A;
    border-style: solid;
    color: #000000;
    text-align: center;
}

table.listaIncidencias td, table.listaIncidencias th {
    border-width: 2px;
    border-color: #24943A;
    border-style: solid;
    
}

table.listaIncidencias thead {
    background-color:  #24943A;
    font-size: 16px;
}